#cat-slider {
	background-image: url(../img/baner-one.png);
	background-repeat: no-repeat;
	width: 1310px;
	height: 500px;
	margin-left: -22px;
	margin-top: 20px;
}

#slider-name {
	background-image: url(../img/wiosenka.png);
	background-repeat: no-repeat;
	width: 270px;
	height: 62px;
}

#slider-container {
	position: absolute;
	left: 53%;
	transform: translateX(-47%);
	margin-top: 70px;
	text-align: center;
	width: 270px;
}

#slider-container p {
	margin: 0;
}

#slider-container p:nth-child(2) {
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#price {
	font-weight: 800;
	color: #527b84;
	font-size: 45px;
	letter-spacing: 2px;
}

#price span {
	font-size: 30px;
}

#slider-container button {
	margin-top: 20px;
	width: 130px;
	height: 40px;
	padding: 10px 0;
	background-color: #fff;
	outline: none;
	border: 0;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 800;
	cursor: pointer;
	color: #527b84;
}

#slider-nav-cat {
	margin-top: -60px;
	height: 20px;
	text-align: center;
}