#cat-hero {
    background-image: url(../img/baner-one.png);
    background-repeat: no-repeat;
    width: 1310px;
    height: 500px;
    margin-left: -22px;
    margin-top: 20px;
}

.slider-name {
    background-image: url(../img/wiosenka.png);
    background-repeat: no-repeat;
    width: 270px;
    height: 62px;
    margin: 0 auto;
}

.slider-container {
    position: absolute;
    left: 53%;
    transform: translateX(-47%);
    margin-top: 70px;
    text-align: center;
    width: 270px;
}

.slider-container p {
    margin: 0;
}

.slider-container p:nth-child(2) {
    font-weight: 600;
    color: $white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prize {
    font-weight: 800;
    color: rgb(82, 123, 132);
    font-size: 45px;
    letter-spacing: 2px;
}

.prize span {
    font-size: 30px;
}

#cat-hero button {
    margin-top: 20px;
    width: 130px;
    height: 40px;
    padding: 10px 0;
    background-color: $white;
    outline: none;
    border: 0;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    cursor: pointer;
    color: rgb(82, 123, 132);
}

#catalogue-nav {
    float: left;
    height: auto;
}

#catalogue h4 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(73, 73, 73);
    font-weight: 700;
    margin-bottom: 30px;
}

#cat h4,
#cat button {
    display: inline-block;
}

#cat button {
    width: 95px;
    height: 25px;
    background-color: rgb(255, 115, 128);
    outline: none;
    border: 0;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 20px;
    font-weight: 800;
    cursor: pointer;
    color: $white;
}

#cat a,
#models a {
    display: inline-block;
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

#catalogue {
    height: 1400px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

#active-paw:after {
    background-image: url('../img/paw.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 16px;
}

#models ul li:nth-child(1):before {
    background-image: url('../img/kolo.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 25px;
    margin-bottom: -8px;
    width: 42px;
    height: 25px;
}

#models ul li:nth-child(2):before {
    background-image: url('../img/chatka.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 25px;
    margin-bottom: -8px;
    width: 42px;
    height: 31px;
}

#models ul li:nth-child(3):before {
    background-image: url('../img/kwadrat.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -8px;
    width: 48px;
    height: 24px;
}

#models li+li {
    margin-top: 25px;
}

#cat-items {
    width: 1000px;
    float: right;
    margin-bottom: 20px;
}

#product-cat-container {
    border-bottom: 3px solid rgba(204, 204, 204, 0.5);
    text-align: center;
    margin: 70px auto 20px;
}

.item-col {
    margin-bottom: 20px;
}

#cat-filters {
    margin-top: 20px;
}

#cat-filters ul li,
#cat-filters h4,
#cat-filters ul {
    display: inline-block;
}

#cat-filters h4 {
    float: left;
    margin: 0;
}

#cat-filters ul {
    float: right;
    margin-right: 15px;
}

#cat-filters a {
    text-decoration: none;
    color: rgb(145, 145, 145);
    font-size: 14px;
}

#cat-filters li+li {
    margin-left: 30px;
}

#pic-cat-one {
    background-image: url(../img/item-tropicana.png);
    width: 225px;
}

#pic-cat-two {
    background-image: url(../img/item-floral.png);
    width: 260px;
}

#pic-cat-three {
    background-image: url(../img/item-piana.png);
    width: 199px;
}

#pic-cat-four {
    background-image: url(../img/item-geometric.png);
    width: 223px;
}

#pic-cat-five {
    background-image: url(../img/item-herbs.png);
    width: 225px;
}

#pic-cat-six {
    background-image: url(../img/item-fruity.png);
    width: 199px;
}

#pic-cat-seven {
    background-image: url(../img/item-flamingo.png);
    width: 225px;
}

#pic-cat-eight {
    background-image: url(../img/item-darkblue.png);
    width: 225px;
}

#pic-cat-nine {
    background-image: url(../img/item-galaxy.png);
    width: 260px;
}

#pagination {
    float: right;
    font-size: 13px;
    color: rgb(157, 157, 157);
}

#pagination p a {
    text-decoration: none;
    color: rgb(157, 157, 157);
}
