@import "../scss/variables";

.button {
    text-transform: uppercase;
    border: 0;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    
}

.button-size-big {
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    letter-spacing: 1px;
}

.button-size-small {
    height: 30px;
    line-height: 30px;
    padding: 0 35px;
    border-radius: 15px;
    letter-spacing: 2px;
}

.button-text-dark-gray {
    color: $dark-gray;
}

.button-text-white {
    color: $white;
}

.button-text-blue {
    color: $blue;
}

.button-text-green {
    color: $green;
}

.button-text-pink {
    color: $dark-pink;
}

.button-bg-white {
    background-color: $white;
}

.button-bg-gray {
    background-color: $gray;

    &:hover,
    &:active {
        background-color: rgb(169,169,169);
    }
}

.button-bg-pink {
    background-color: $dark-pink;

    &:hover,
    &:active {
        background-color: rgb(255,64,82);
    }
}

.button-bg-blue {
    background-color: $blue;

    &:hover,
    &:active {
        background-color: $dark-blue;
    } 
}
