@import "../scss/variables";

.item {
  display: inline-block;
  width: 280px;
  height: 340px;
  padding: 20px 10px 80px 10px;
  margin: 0 10px;
  border-radius: 15px;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0px 0px 20px rgb(236, 236, 236);
}

.item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
}

.action-item {
  visibility: hidden;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.item:hover .action-item {
  visibility: visible;
}

.item-cart{
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 20px;
}

.item-cart {
  background-image: url(/img/cart-grey.png);
  float: left;
  margin-left: 20px;
  span {
      float: left;
      margin-left: 30px;
      color: $pink;
  }
}

.model {
  font-size: 14px;
  font-weight: 500;
  color: rgb(156, 156, 156);
  display: block;
  margin-bottom: 15px;
}

.price {
  font-size: 22px;
  font-weight: 600;
}

.currency {
  font-weight: 600;
}

.picture {
  height: 220px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

#pic-one {
  background-image: url(/img/item-princess.png);
  width: 225px;
}

#pic-two {
  background-image: url(/img/item-tropicana.png);
  width: 225px;
}

#pic-three {
  background-image: url(/img/item-zorba.png);
  background-position: center;
  width: 199px;
}

#pic-four {
  background-image: url(/img/item-piana.png);
  background-position: center;
  width: 199px;
}

#pic-cat-one {
  background-image: url(/img/item-tropicana.png);
  width: 225px;
}

#pic-cat-two {
  background-image: url(/img/item-floral.png);
  width: 260px;
}

#pic-cat-three {
  background-image: url(/img/item-piana.png);
  width: 199px;
}

#pic-cat-four {
  background-image: url(/img/item-geometric.png);
  width: 223px;
}

#pic-cat-five {
  background-image: url(/img/item-herbs.png);
  width: 225px;
}

#pic-cat-six {
  background-image: url(/img/item-fruity.png);
  width: 199px;
}

#pic-cat-seven {
  background-image: url(/img/item-flamingo.png);
  width: 225px;
}

#pic-cat-eight {
  background-image: url(/img/item-darkblue.png);
  width: 225px;
}

#pic-cat-nine {
  background-image: url(/img/item-galaxy.png);
  width: 260px;
}
