/* VARIABLES */

$green: rgb(207, 224, 153);
$dark-green: rgb(189,212,114);
$blue: rgb(123, 219, 248);
$dark-blue: rgb(75,206,245);
$pink: rgb(255, 181, 193);
$dark-pink: rgb(255,130,150);
$white: rgb(255, 255, 255);
